<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" href="static/css/codehilite.css"/>
            <link rel="stylesheet" href="static/css/typesafe.css">
                <title>{{title}}</title>
        </head>
        <body>

                {{body}}
                <hr/>
        </body>
</html>